In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib
import matplotlib.pylab as plt
plt.style.use('bmh')
from sklearn.linear_model import Ridge

In [2]:
df_test = pd.read_csv('./test.csv')
df_ex = pd.read_csv('./sample_submission.csv')
df_train = pd.read_csv('./sales_train.csv')
df_shop = pd.read_csv('./shops.csv')
df_items = pd.read_csv('./items.csv')
df_cat = pd.read_csv('./item_categories.csv')

In [3]:
# Get item sells by month
grouped = df_train.groupby(['item_id', 'shop_id', 'date_block_num'])
month_stat = grouped['item_cnt_day'].sum()

In [4]:
# Create train table with "item_cnt_month"
X = np.array([*month_stat.index.values])
Y = np.array(month_stat.values)
df_train_m = pd.DataFrame({'date_block_num':X[:,2], 'item_id':X[:,0], 'shop_id':X[:,1], 'item_cnt_m':Y})
df_train_m = pd.merge(df_train_m, df_items[['item_id', 'item_category_id']], on='item_id')
df_train_m = df_train_m.sort_values(by='date_block_num')
df_train_m.head()

         date_block_num  item_cnt_m  item_id  shop_id  item_category_id
747775                0         1.0     9607       46                40
830176                0         1.0    10904       27                55
321175                0         1.0     4244        2                23
321172                0         1.0     4244        0                23
1292935               0         1.0    17114       44                40

In [5]:
Y = df_train_m['item_cnt_m']
X0 = df_train_m[['item_id', 'shop_id', 'item_category_id', 'date_block_num']]
X0.head()

         item_id  shop_id  item_category_id  date_block_num
747775      9607       46                40               0
830176     10904       27                55               0
321175      4244        2                23               0
321172      4244        0                23               0
1292935    17114       44                40               0

In [6]:
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor, BaggingRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.model_selection import cross_val_score 
from sklearn.preprocessing import OneHotEncoder

In [7]:
rgr_ridge = Ridge()
dtr = DecisionTreeRegressor()
ada = AdaBoostRegressor()
bag = BaggingRegressor(verbose=2)
random_forest = RandomForestRegressor(verbose=2)
gboost = GradientBoostingRegressor(verbose=2)

In [9]:
gboost.fit(X0, Y)

      Iter       Train Loss   Remaining Time
         1          71.4625            2.27m
         2          68.7375            2.23m
         3          66.5228            2.32m
         4          64.7057            2.34m
         5          63.2268            2.35m
         6          62.0068            2.39m
         7          60.9788            2.45m
         8          60.1401            2.40m
         9          59.4255            2.38m
        10          58.8387            2.37m
        11          58.3321            2.35m
        12          57.9124            2.32m
        13          57.5440            2.28m
        14          57.3026            2.25m
        15          57.2597            2.23m
        16          57.0697            2.22m
        17          57.0339            2.21m
        18          56.9730            2.17m
        19          56.8837            2.16m
        20          56.8573            2.12m
        21          56.8344            2.08m
        22          56.7972            2.06m
        23          56.7625            2.03m
        24          56.7428            2.00m
        25          56.7256            1.96m
        26          56.7111            1.93m
        27          56.6839            1.92m
        28          56.6115            1.89m
        29          56.5985            1.86m
        30          56.5753            1.83m
        31          56.5460            1.80m
        32          56.4245            1.77m
        33          56.1400            1.74m
        34          56.1283            1.71m
        35          56.0367            1.68m
        36          56.0267            1.66m
        37          56.0173            1.63m
        38          55.9981            1.60m
        39          55.9695            1.58m
        40          55.7818            1.55m
        41          55.7729            1.52m
        42          55.7364            1.50m
        43          55.5420            1.47m
        44          55.5355            1.44m
        45          55.4657            1.41m
        46          55.4583            1.39m
        47          55.4543            1.36m
        48          55.4050            1.33m
        49          55.0674            1.31m
        50          55.0477            1.28m
        51          54.9914            1.25m
        52          54.9570            1.23m
        53          54.9521            1.20m
        54          54.9456            1.17m
        55          54.9266            1.15m
        56          54.8131            1.13m
        57          54.7703            1.10m
        58          54.7530            1.07m
        59          54.7430            1.05m
        60          54.7115            1.02m
        61          54.6740           59.81s
        62          54.6579           58.26s
        63          54.6328           56.78s
        64          54.6141           55.29s
        65          54.5800           53.61s
        66          54.5674           51.99s
        67          54.5179           50.42s
        68          54.4196           48.95s
        69          54.4061           47.45s
        70          54.3777           45.89s
        71          54.3673           44.35s
        72          54.3567           42.86s
        73          54.3371           41.35s
        74          54.3051           39.79s
        75          54.2796           38.23s
        76          54.2641           36.65s
        77          54.2556           35.12s
        78          54.0165           33.56s
        79          53.9959           32.04s
        80          53.9843           30.52s
        81          53.7907           28.97s
        82          53.7824           27.46s
        83          53.7744           25.93s
        84          53.7118           24.39s
        85          53.6986           22.84s
        86          53.6741           21.33s
        87          53.6545           19.81s
        88          53.6471           18.26s
        89          53.6369           16.73s
        90          53.6204           15.20s
        91          53.5899           13.69s
        92          53.5659           12.16s
        93          53.5418           10.64s
        94          53.5305            9.11s
        95          53.5204            7.59s
        96          53.5128            6.07s
        97          53.4982            4.55s
        98          53.4751            3.04s
        99          53.4580            1.52s
       100          53.4497            0.00s

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=3, max_features=None,
             max_leaf_nodes=None, min_impurity_split=1e-07,
             min_samples_leaf=1, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=100,
             presort='auto', random_state=None, subsample=1.0, verbose=2,
             warm_start=False)

### Test data

In [10]:
df_ex.head()

   ID  item_cnt_month
0   0             0.5
1   1             0.5
2   2             0.5
3   3             0.5
4   4             0.5

In [11]:
df_test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [12]:
df_test_a = pd.merge(df_test, df_items[['item_id', 'item_category_id']], on='item_id')
df_test_a = df_test_a.sort_values(by='ID')
df_test_a['date_block_num'] = [34]*len(df_test_a)
X0_test = df_test_a[['item_id', 'shop_id', 'item_category_id', 'date_block_num']]

In [19]:
Y_pred = gboost.predict(X0_test)
df_ex['item_cnt_month'] = Y_pred
df_ex = df_ex.set_index('ID')

In [21]:
df_ex.to_csv('pred.csv')